#dadosOcorrencia {
  display: grid;
  grid-template-columns: 35% 35% auto;
  padding: 1rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  line-height: 2.2rem;
}

#dadosOcorrencia > h3 {
  font-size: 1.2rem;

}