
.tribo-txt {
  padding: 1rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
/*  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;*/
  font-size: 1.1rem;
  line-height: 2.2rem;
}

#readMore{
  padding: 0 1rem;
  font-size: 1.1rem;
}

/* main/middle column */
.mcol {
  padding-left: 96px;
  max-width: 70%;
}

/* right column */
.rcol {
  margin: 0 60px 0 15px;
  width: 30%;
}

.rcol > * {
  padding: 1em 1em 1em 1em;
}

#rcol-info {
  border-width: 1px;
  border-style: solid;
}
#rcol-links {


}

.content-wrapper {
  display: flex;
  flex-direction: row;
}