body>header>h1 {
    padding: 0.2rem 1rem;
    font-size: 2rem;
}

body>header>#main-image {
    width: 100%;
    height: 18rem;
    background-size: cover;
}

main>section {
    padding-top: 2rem;
}

main>section h2 {
    padding: 0 2rem;
}

.card {
    width: 400px;
    height: 500px;
}

.card-deck a {
    text-decoration: none;
    color: black;
}

.card-body {
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    height: 200px;
}

.container {
    margin: 40px;
}